.carousel {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.carousel .slick-slide {
    padding: 10px;
}

.carousel img {
    max-width: 100%;
    border-radius: 10px;
}
