/* src/styles/Watchlist.css */
.movie-card {
    transition: transform 0.2s;
  }
  
  .movie-card:hover {
    transform: scale(1.05);
  }
  
  .movie-card img {
    width: 100%;
    height: auto;
  }
  
  .movie-card .chakra-box {
    text-align: center;
  }
  
  .movie-title {
    white-space: normal; /* Ensure the title wraps if it's too long */
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit to two lines */
    -webkit-box-orient: vertical;
    
  }
  